@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.header {
  position: relative;
  padding: 20px 24px;
  background: white;
}

@media (min-width: 64em) {
  .header {
    max-width: 1110px;
    margin: 0 auto;
  }
}

.header.toggle .header__hmenu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.toggle .header__hmenu > span:nth-child(2) {
  opacity: 0;
}

.header.toggle .header__hmenu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__logo img {
  height: 23px;
  width: 141px;
}

.header__hmenu > span {
  display: block;
  height: 2px;
  width: 25px;
  background-color: #2d314d;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header__hmenu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links a {
  position: relative;
  font-size: 14px;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  display: block;
  content: "";
  position: absolute;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  right: 0;
  left: 0;
  bottom: -34px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__mmenu {
  position: absolute;
  visibility: hidden;
  background: white;
  padding: 33px;
  margin-top: 42px;
  width: calc(100% - 48px);
  border-radius: 5px;
  z-index: 5;
}

.header__mmenu a {
  display: block;
  color: #2d314d;
  font-size: 18px;
  text-align: center;
}

.header__mmenu a:not(:last-child) {
  margin-bottom: 25px;
}

.overlay {
  position: fixed;
  visibility: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background: linear-gradient(180deg, #2d314d, transparent);
  top: 63px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
}

body.noscroll {
  overflow: hidden;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.button:hover, button:hover {
  opacity: 50%;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.container {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

@media (min-width: 64em) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}

h1, h2, h3 {
  margin-top: 0;
}

.mobile-wrapper {
  background-color: #fafafa;
}

.mobile-wrapper .mhero__image {
  position: relative;
  background-image: url("../../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 280px;
  z-index: 1;
}

@media (min-width: 40em) {
  .mobile-wrapper .mhero__image {
    background-position: right;
    min-height: 400px;
  }
}

.mobile-wrapper .mhero__image::before {
  content: "";
  position: absolute;
  background-image: url("../../images/image-mockups.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center -110px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

@media (min-width: 40em) {
  .mobile-wrapper .mhero__image::before {
    background-size: 55%;
    background-position: center -90px;
  }
}

.mobile-wrapper .mhero__text {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 64em) {
  .mobile-wrapper .mhero__text {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.mobile-wrapper .mhero__text h1 {
  font-size: 35px;
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 20px;
}

@media (min-width: 64em) {
  .mobile-wrapper .mhero__text h1 {
    font-size: 45px;
  }
}

.mobile-wrapper .mhero__text p {
  font-size: 0.875rem;
  margin-bottom: 35px;
}

@media (min-width: 64em) {
  .mobile-wrapper .mhero__text p {
    font-size: 18px;
    font-weight: 300;
  }
}

.mobile-wrapper .mhero__ctaButton {
  margin-bottom: 85px;
}

.desktop-wrapper {
  background-color: #fafafa;
  overflow-x: clip;
}

.desktop-wrapper .dhero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 655px;
}

.desktop-wrapper .dhero__text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: left;
}

.desktop-wrapper .dhero__text h1 {
  font-size: 45px;
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 20px;
}

.desktop-wrapper .dhero__text p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
}

.desktop-wrapper .dhero__image {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
  height: 655px;
}

.desktop-wrapper .dhero__image::before {
  content: "";
  position: absolute;
  background-image: url("../../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  height: 111%;
  width: 180%;
}

.desktop-wrapper .dhero__image::after {
  content: "";
  position: absolute;
  background-image: url("../../images/image-mockups.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: bottom;
  height: 130%;
  width: 120%;
  right: -370px;
}

.features {
  background-color: #f3f4f6;
}

.feature {
  text-align: center;
}

.feature__grid {
  display: -ms-grid;
  display: grid;
  padding-bottom: 65px;
}

@media (min-width: 40em) {
  .feature__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-bottom: 100px;
  }
}

@media (min-width: 64em) {
  .feature__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 64em) {
  .feature__items {
    margin-right: 25px;
  }
}

@media (min-width: 64em) {
  .feature__headline {
    width: 60%;
  }
}

.feature__headline h1 {
  font-size: 30px;
  color: #2d314d;
  font-weight: 300;
  padding-top: 65px;
  margin-bottom: 25px;
}

@media (min-width: 64em) {
  .feature__headline h1 {
    font-size: 35px;
    padding-top: 110px;
    margin-bottom: 30px;
    text-align: left;
  }
}

.feature__headline p {
  font-size: 0.875rem;
  margin-bottom: 55px;
}

@media (min-width: 64em) {
  .feature__headline p {
    font-size: 1.125rem;
    text-align: start;
    margin-bottom: 70px;
  }
}

.feature__icon {
  margin-bottom: 25px;
}

@media (min-width: 64em) {
  .feature__icon {
    margin-bottom: 40px;
    text-align: left;
  }
}

.feature__title {
  font-size: 22px;
  color: #2d314d;
  font-weight: 300;
  margin-bottom: 25px;
}

@media (min-width: 64em) {
  .feature__title {
    font-size: 25px;
    text-align: left;
    margin-bottom: 30px;
  }
}

.feature__description {
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 35px;
}

@media (min-width: 64em) {
  .feature__description {
    text-align: start;
    margin-bottom: 0;
    line-height: 1.5;
  }
}

.articles {
  background-color: #fafafa;
  padding-bottom: 65px;
}

.articles__heading {
  font-size: 30px;
  color: #2d314d;
  text-align: center;
  font-weight: 300;
  padding-top: 90px;
  margin-bottom: 30px;
}

@media (min-width: 64em) {
  .articles__heading {
    font-size: 37px;
    margin-bottom: 55px;
    text-align: start;
  }
}

.articles__cards {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

@media (min-width: 40em) {
  .articles__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .articles__cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.articles__content {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.articles__content:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.articles__image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles__text {
  padding: 27px;
}

.articles__author {
  font-size: 10px;
  margin-bottom: 14px;
}

.articles__title {
  display: inline-block;
  font-size: 1.125rem;
  color: #2d314d;
  font-weight: 300;
  margin-bottom: 15px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.articles__title:hover {
  color: #31d35c;
}

.articles__description {
  font-size: 0.875rem;
  margin-bottom: 15px;
}

.footer {
  background-color: #2d314d;
}

@media (max-width: 63.9375em) {
  .footer {
    text-align: center;
  }
}

@media (min-width: 64em) {
  .footer__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr 1fr 3fr;
        grid-template-columns: 1.5fr 1fr 1fr 3fr;
    gap: 30px;
  }
}

.footer__logo img {
  display: inline-block;
  margin-bottom: 50px;
}

@media (max-width: 63.9375em) {
  .footer__logo img {
    margin-bottom: 27px;
  }
}

@media (max-width: 63.9375em) {
  .footer__socials {
    margin-bottom: 27px;
  }
}

.footer__socials a {
  display: inline-block;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.footer__socials a:not(:last-child) {
  margin-right: 12px;
}

.footer__socials a:hover svg path {
  fill: #31d35c;
}

.footer__col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 63.9375em) {
  .footer__col2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__col2 a {
  font-size: 0.875rem;
  color: white;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.footer__col2 a:not(:last-child) {
  margin-bottom: 18px;
}

.footer__col2 a:hover {
  color: #31d35c;
}

@media (max-width: 63.9375em) {
  .footer__col2 {
    margin-bottom: 17px;
  }
}

.footer__col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 63.9375em) {
  .footer__col3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__col3 a {
  font-size: 0.875rem;
  color: white;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.footer__col3 a:not(:last-child) {
  margin-bottom: 18px;
}

.footer__col3 a:hover {
  color: #31d35c;
}

@media (min-width: 64em) {
  .footer__col3 a {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 63.9375em) {
  .footer__col3 {
    margin-bottom: 30px;
  }
}

.footer__col4 {
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer__ctaButton {
  margin-bottom: 27px;
  text-align: end;
}

@media (max-width: 63.9375em) {
  .footer__ctaButton {
    text-align: center;
  }
}

.footer__copyright {
  font-size: 1.125rem;
}

.container {
  padding: 45px 0;
}
/*# sourceMappingURL=style.css.map */